# Configuration Code Server
data/.config
data/.local

# MySql and Postgresql data
config/databases

# Development programs data
config/development

# MySql and Postgresql data
config/databases

# Logs Nginx
data/logs