version: "3.3"

services:
  code-server:
    image: linuxserver/code-server:version-v3.8.1
    container_name: code-server_service
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - PASSWORD=1234
      - SUDO_PASSWORD=1234
    volumes:
      - ./config:/config
      - ./facturascripts:/config/workspace/
    depends_on:
      - facturascripts
    ports:
      - 8443:8443
    restart: unless-stopped
    networks:
      - facturascripts_deploy

  postgresql:
    image: postgres:13
    container_name: postgresql_service
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456789
    networks:
      - facturascripts_deploy

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_service
    environment:
      PGADMIN_DEFAULT_EMAIL: "tono@fs.es"
      PGADMIN_DEFAULT_PASSWORD: "1234"
    ports:
      - 6969:80
    depends_on:
      - postgresql
    networks:
      - facturascripts_deploy

  facturascripts:
    image: facturascripts/facturascripts:2021
    container_name: facturascripts_service
    restart: always
    ports:
      - 1001:80
    volumes:
      - ./facturascripts:/var/www/html
    depends_on:
      - postgresql
    networks:
      - facturascripts_deploy

networks:
  facturascripts_deploy:
