version: "3.3"

services:
  code:
    # EXTRACTED: codercom/code-server:latest
    image: codercom/code-server:latest
    # image: linuxserver/code-server:version-v3.8.1
    container_name: code_service
    ports:
      # - 8081:8443
      - 8081:8080
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Spain
      - PASSWORD=1234
      - SUDO_PASSWORD=1234
      - DOCKER_USER=big
    volumes:
      - ./config:/home/coder/.config 
      - ./project:/home/coder/project
      - ./app/login.html:/usr/lib/code-server/src/browser/pages/login.html
      # - ./config:/config
      # - ./facturascripts:/config/workspace/
    depends_on:
      - facturascripts
    networks:
      - facturascripts_deploy

  postgresql:
    image: postgres:13
    container_name: postgresql_service
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=123456789
    restart: always
    networks:
      - facturascripts_deploy

  pgadmin:
    image: dpage/pgadmin4:4.30
    container_name: pgadmin_service
    ports:
      - 8082:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=tono@fs.es
      - PGADMIN_DEFAULT_PASSWORD=1234
    depends_on:
      - postgresql
    networks:
      - facturascripts_deploy

  facturascripts:
    image: facturascripts/facturascripts:2021
    container_name: facturascripts_service
    ports:
      - 1001:80
    volumes:
      - ./facturascripts:/var/www/html
    restart: always
    depends_on:
      - postgresql
    networks:
      - facturascripts_deploy

networks:
  facturascripts_deploy:
